#main{
	height: 500px;
	width: 500px;
	background: red;
	margin: auto;	
}
#header{
	height: 50px;
	width: 100%;
	background: blue;
}
#header1{
	height: 100%;
	width: 40%;
	background: green;
	float: left;
}
#header2{
	height: 100%;
	width: 60%;
	background: yellow;
	float: right;
}
#space{
	height: 25px;
	width: 100%;
	background: whitesmoke;
}
#body{
	height:300px ;
	width: 100%;
	background: pink;
}
#footer{
	height: 50px;
	width: 100%;
	background: violet;
}
#body1{
	height: 100%;
	width: 150px;
	float: left;
	background: indigo;


}
#body2{
	height: 100%;
	width: 200px;
	float: left;
	background: red;
}
#body3{
	height: 100%;
	width: 150px;
	background: blueviolet;
	float: right;
}
#body21{
	height: 100px;
	width: 100%;
	background:skyblue;
}
#body22{
	height: 100px;
	width: 100%;
	background: gray;
}
#body23{
	height: 100px;
	width: 100%;
	background:orange;
}
#part1{
	height: 100%;
	width: 50%;
	background: green;
	float: left;
}
#part2{
	height: 100%;
	width: 50%;
	background: tomato;
	float: right;
	

}